{% extends 'base.html' %}

{% block content %}
{% if articles %}
<h1>Your Articles</h1>
<div class="articles">
    {% for article in articles %}
    <div class="article">
        <a href="{% url 'articles:article-update' user.id article.id %}">
            <img src="{{ article.thumb.url }}">
            <h2>{{ article.title }}</h2>
        </a>
        <p>{{ article.snippet }}</p>
        <p>{{ article.date }}</p>
        <p class="author">Added By: {{ article.author }}</p>
    </div>
    {% endfor %}
</div>
{% else %}
<h1 class="not-found">You Currently Don't Have Any Posts.</h1>
{% endif %}
{% endblock %}