body {
    background-color: #0f121f;
    background-image: url(fern.jpg);
    background-repeat: no-repeat;
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body *{
    font-family: Ubuntu;
}

nav {
    margin: 1% auto 0;
    max-width: 80%;
}

.navbar-nav {
    justify-self: end;
    flex-direction: row;
}

nav li {
    margin-top: 24px;
    margin-left: 12px;
}

/* Search bar */
.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #00dba0;
    box-shadow: 0 0 0 1px #00dba0;
    background: none;
    color: #fff;
}

.active-cyan-3 input[type=text] {
    border: 1px solid #00dba0;
    background: none;
    color: #fff;
    margin: 6% 0 0 12px;
}

.active-cyan-3 input[type=text]:hover {
    box-shadow: 0 0 0 1.5px #00dba0;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;
    margin: 0;
}

a, a:visited, a:hover {
    color: #fff;
    text-decoration: none;
}

a.highlight {
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 7px;
    color: #00dba0;
    font-size: 0.9em;
}

a.highlight:hover {
    background: #00dba0;
    color: #0f121f;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    text-decoration: none;
}

.wrapper {
    max-width: 80%;
    margin: 0 auto;
}

div.wrapper h1 {
    text-align: center;
    margin: 50px auto;
    font-size: 2.4em;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

.article {
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.article img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.article h2 {
    font-size: 1.3em;
    padding-top: 5px;
}

.article h2 a {
    color: #00dba0;
}

.article p {
    font-size: 0.9em;
    padding-top: 10px;
}

.article .author {
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f
}

.article-detail .article {
    padding: 0;
    border: none;
}

.article-detail .article img {
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em;
}

.article-detail .article p {
    text-align: left;
    padding: 10px;
}

.article-create p {
    font-size: 0.9em;
    padding-top: 15px;
}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input, .site-form textarea {
    display: block;
    margin: 20px 0 0 0;
    padding: 10px;
}

.helptext, .helptext ul {
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 0.9em;
    display: block;
}

.errorlist-delete, .logout {
    /* Logout button in navbar*/
    border: 1px solid #ff5722;
    color:#ff5722;
    background: none;
    margin: -7px 0;
    font-size: 0.9em;
    padding: 8px;
    border-radius: 7px;
}

.errorlist-delete:hover {
    color: #0f121f;
    background: #ff5722;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.site-form input[type="submit"] {
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 7px;
    color: #00dba0;
    background: none;
    cursor: pointer;
    margin: 10px 0;
}

.site-form input[type="submit"]:hover {
    background: #00dba0;
    color: #0f121f;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

/* These forms encapsulate Delete buttons */
.site-form.delete-form {
    border: 1px solid #ff5722;
}

.delete-form input[type="submit"]:hover {
    background: #ff5722;
    color: #0f121f;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.delete-form p {
    font-size: 1.2em;
}

/* Delete button on Article Delete form */
.delete-form input[type="submit"] {
    border: 1px solid #ff5722;
    color:#ff5722;
    background: none;
    margin: 0px 0;
    font-size: 0.9em;
    padding: 8px;
    border-radius: 7px;
}

/* Back button on Delete Confirmation page */
.back-button {
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 7px;
    color: #00dba0;
    font-size: 0.9em;
    background: none;
}

.back-button:hover {
    background: #00dba0;
    color: #0f121f;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
    text-decoration: none;
}

.upper-footer {
    padding: 20px;
    background: #0e1111;

}

.footer-copyright {
    background: black;
    color: #00dba0;
}

.footer-headings {
    color: #00dba0;
    padding-bottom: 10px;
}

/* Image in footer */
.img-div {
    padding: 9% 0 0 5%;
}

::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

:-ms-input-placeholder { /* Internet Explorer */
  color: #fff;
}

form .form-control::-webkit-input-placeholder {
  color: #fff;
}

form .form-control::-moz-placeholder {
  color: #fff;
}
form .form-control:-ms-input-placeholder {
  color: #fff;
}
form .form-control:placeholder {
  color: #fff;
}